/* ds-row.css */
/* Row component styles */

:host {
  display: flex;
  align-items: end;
  width: calc(240px * var(--sf));
}

:host([type="fill"]) {
  justify-content: space-between;
  height: calc(var(--1) * var(--sf));
}

:host([type="centered"]) {
  justify-content: center;
  height: calc(var(--1) * var(--sf));
  gap: calc(var(--025) * var(--sf));
}
