/* version 0.2.5-alpha.8 */

input {
  padding: 0;
}

:root {
  /* colors */
  --black: #2a2a2a;
  --white: rgb(255 255 255);
  --slate: #bdbdbd;
  --slate-light: #e6e6e6;
  --slate-dark: #3c3c3c;
  --light-green: #99ff73;
  --green: #979441;
  --light-blue: #ccccff;
  --blue: #594dff;
  --pink: #f5aad1;
  --red: #ff5f5f;
  --orange: #fec20d;
  --yellow: #ffff00;

  /* DS1 Documentation Colors */
  --ds1-docs-header-bg: light-dark(#f5f5f5, #232323);
  --ds1-docs-header-border: light-dark(#e0e0e0, #000000);
  --ds1-docs-header-text: light-dark(#2a2a2a, #f1f1f1);
  --ds1-docs-header-text-secondary: light-dark(#666666, #cdcdcd);
  --ds1-docs-accent-green: #72ff3d;
  --ds1-docs-sidebar-bg: light-dark(#fafafa, #1f1f1f);
  --ds1-docs-content-bg: light-dark(#ffffff, #171717);
  --ds1-docs-search-bg: light-dark(#f0f0f0, #171717);
  --ds1-docs-divider: light-dark(#e0e0e0, #000000);

  /* 4-page component colors */

  /* ds-grid color */
  --grid-color: light-dark(var(--grid-color-light), var(--grid-color-dark));
  --grid-color-light: var(--slate);
  --grid-color-dark: var(--white);

  /* ds-layout colors */

  --layout-color: light-dark(
    var(--layout-color-light),
    var(--layout-color-dark)
  );

  /* typefaces */
  --typeface: "GT-America-Standard-Regular";
  --typeface-medium: "GT-America-Standard-Medium";
  --typeface-compressed: "GT-America-Compressed-Regular";
  --typeface-japanese: "Noto Sans JP";
  --typeface-mono: "Iosevka";

  --type-size-default: calc(14px * var(--sf));
  --type-size-small: calc(10px * var(--sf));
  --type-weight-default: 500;
  --type-lineheight-default: calc(15px * var(--sf));
  --type-size-heading: calc(15px * var(--sf));
  --type-weight-bold: 500;

  --type-size-japanese-default: calc(12px * var(--sf));
  --type-size-japanese-heading: calc(14px * var(--sf));
  --type-lineheight-japanese-default: calc(17px * var(--sf));
  --type-weight-product: var(--type-weight-bold);
  --type-weight-heading: var(--type-weight-bold);
  --type-size-book: 9px;
  --type-weight-book: 400;
  --type-lineheight-book: 15px;

  /* size */
  --outline-stroke: 1px solid light-dark(var(--black), var(--slate-dark));
  --outline-stroke-mobile: calc(1px * var(--sf)) solid
    light-dark(var(--black), var(--slate-dark));
  --item-width: calc(79px * var(--sf));
  --item-height: calc(19px * var(--sf));
  --margin-correction: calc(1px * var(--sf));

  /* SIZING */

  /* main unit */
  --1: 20px;
  /* bigger sizes */
  --2: calc(var(--1) * 2);
  --3: calc(var(--1) * 3);
  --4: calc(var(--1) * 4);

  /* smaller sizes */
  --01: calc(var(--1) * 0.1);
  --025: calc(var(--1) * 0.25);
  --08: calc(var(--1) * 0.8);

  /* button */
  --button-background-color-primary: var(--accent-color);
  --button-background-color-secondary: light-dark(
    var(--slate-light),
    var(--slate-dark)
  );
  --button-text-color: light-dark(var(--black), var(--white));
  --button-text-color-secondary: light-dark(
    var(--slate-dark),
    var(--slate-light)
  );

  /* text-color */
  --text-color-primary: light-dark(var(--black), var(--white));
  --text-color-dimmed: light-dark(var(--slate), var(--slate-light));

  /* icon colors */
  --icon-background: light-dark(var(--slate-light), var(--slate-dark));
  --icon-color: light-dark(var(--black), var(--white));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
}

:root.light-theme {
  color-scheme: light;
}

:root.dark-theme {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root:not(.light-theme):not(.dark-theme) {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light-theme):not(.dark-theme) {
    color-scheme: dark;
  }
}

@view-transition {
  navigation: auto;
}

@font-face {
  font-family: GT-America-Standard-Regular;
  src: url("./fonts/GT-America-Standard-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: GT-America-Standard-Medium;
  src: url("./fonts/GT-America-Standard-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: GT-America-Compressed-Regular;
  src: url("./fonts/GT-America-Compressed-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.matrix__board {
  position: relative;
  top: calc(21.5px * var(--sf));
  left: calc(-20px * var(--sf));
  width: calc(240px * var(--sf));
  display: flex;
}

.matrix__board--vertical {
  position: relative;
  left: calc(20.5px * var(--sf));
  display: flex;
  flex-direction: row;
  align-items: start;
}

.matrix__board--horizontal {
  position: relative;
  top: calc(19.5px * var(--sf));
  left: calc(-239.5px * var(--sf));
  display: flex;
  flex-direction: column;
  align-items: start;
}

.matrix__column {
  display: flex;
  flex-direction: column;
}

.matrix__row {
  display: flex;
  flex-direction: row;
}

.matrix__column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: light-dark(var(--white), var(--black));
}

.matrix__row-header {
  position: relative;
  top: calc(0.5px * var(--sf));
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(19px * var(--sf));
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: light-dark(rgb(220 241 213), var(--slate-dark));
}

.mobile .matrix__row-header {
  outline: var(--outline-stroke-mobile);
}

.matrix__column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64f814;
}

.matrix__row-content {
  display: flex;
  align-items: center;
  background-color: light-dark(#dbe4ee, var(--slate-dark));
}

.matrix__row-content--dragging {
  background-color: #b4f6ac;
}

.matrix__column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: var(--outline-stroke);
}

.matrix__row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  outline: var(--outline-stroke);
}

.board__container {
  position: relative;
  top: calc(0.5px * var(--sf));
}

.board {
  position: relative;
  top: calc(0.5px * var(--sf));
  left: calc(0.5px * var(--sf));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--margin-correction);
  flex-wrap: nowrap;
  touch-action: pan-x;
  cursor: move;
}

.column {
  display: flex;
  flex-direction: column;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  background-color: #00000000;
  opacity: 1;
}

.column__header:hover {
  background-color: var(--slate-light);
  outline: 0.5px solid var(--slate-light);
  opacity: 1;
}

.mobile .column__header {
  outline: var(--outline-stroke-mobile);
}

.column__header.dragging {
  background-color: var(--slate-light);
  opacity: 1;
}

.move-icon {
  color: var(--slate);
  width: 16px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.column__header:hover .move-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
}

.column__header.dragging .move-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  width: calc(var(--item-width) * var(--sf));
  height: calc(var(--item-height) * var(--sf));
}

.header.dragging {
  outline: calc(var(--outline-stroke) * var(--sf)) solid var(--black);
  outline-offset: calc(var(--outline-stroke-offset) * var(--sf));
  background-color: var(--white);
}

.card {
  position: relative;
  left: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-top: var(--margin-correction);
  margin-right: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: light-dark(var(--white), var(--slate-dark));
  color: var(--text-color-primary);
}

.mobile .card {
  outline: var(--outline-stroke-mobile);
}

.card:active {
  cursor: grabbing;
}

.list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: var(--item-width);
  height: 19px;
  margin-top: 1px;
  z-index: 99;
  margin-bottom: 2px;
  padding-left: calc(3px * var(--sf));
  color: var(--text-color-primary);
  outline: var(--outline-stroke);
  background-color: var(--accent-color);
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: 100%;
}

.item-container.mobile {
  margin-left: calc(0.25px * var(--sf));
}

.group-children {
  position: relative;
  display: flex;
  flex-direction: column;
}

.item-container.dragging .group-children {
  display: none;
}

.item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: var(--item-width);
  padding-left: calc(5px * var(--sf));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grouped-item {
  width: var(--item-width);
  background-color: #6f8f63;
}

.grouped-item .card {
  width: var(--item-width);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: var(--light-green);
}

td {
  text-align: left;
}
