/* ds-button.css */
/* Core button component styles */

button {
  max-height: calc(var(--08) * var(--sf));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0 calc(0.5px * var(--sf));
  color: var(--button-text-color);
  font-family: var(--typeface-regular);
}

button.title {
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color);
}

button.primary {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  text-decoration-line: none;
  font-family: var(--typeface-regular);
}

button.secondary {
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color);
  font-family: var(--typeface-regular);
}

button.text {
  background-color: transparent;
  color: var(--button-color, var(--button-text-color));
  font-family: var(--typeface-regular);
  padding: 0;
  text-decoration: none;
}

button.text:hover {
  opacity: 0.8;
  text-decoration: none;
}

button[bold] {
  font-weight: var(--type-weight-bold);
  font-family: var(--typeface-medium);
}

button[no-background] {
  background-color: transparent;
  max-height: var(--1);
  padding: 0;
  color: var(--button-color, var(--button-text-color-secondary));
}

button[no-background][bold] {
  font-weight: var(--type-weight-bold);
  font-family: var(--typeface-medium);
  color: var(--button-color, var(--button-text-color-secondary));
}

.loading {
  opacity: 0.7;
}
