/* ds-date.css */
/* Date component styles for displaying the current year */

:host {
  display: inline;
  font-family: var(--typeface-regular, var(--typeface-regular-regular));
  font-size: inherit;
  color: inherit;
}
